
:root{
    --mainColor: #ffc107;
}

.main-color{
    color: var(--mainColor);
}

.main-bg{
    background-color: var(--mainColor);
}

a{
    text-decoration: none;
}

body{
    overflow: hidden;
    background-color: #fff;
}

#loading{
    z-index: 99999;
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--mainColor);
    background-color: #000;
}

#alertPhone{
    display: none;
    border-radius: 10px;
}

.img-logo img{
    width: 20% !important;
}

.content form input::placeholder {
    color: #000;
}

.content form input{
    background-color: whitesmoke !important;
    border-radius: 10px !important;
}

.cont-phone{
    border: 1px solid #ced4da;
    border-radius: 10px;
}

.cont-phone input{
    border-radius: 0px !important;
}

.cont-phone .form-control{
    border: none !important;
    box-shadow: none !important;
}

.cont-phone .cont-select{
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: 1px solid #ced4da;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    width: 100px;
    padding: 5px;
    cursor: pointer;
    color: var(--mainColor);
    font-size: 12px;
    font-weight: 500;
    background-color: whitesmoke !important;
    /* box-shadow: 0px 4px 6px rgba(147, 147, 147, 0.26); */
}

.pass .form-control:focus{
    border-color: #ced4da !important;
    box-shadow: none !important;
}

.w-35{
    width: 35% !important;
}

#phone{
    width: calc(100% - 100px);
    margin-left: 100px;
}

.cont-select img{
    width: 30px;
    height: 30px;
    border-radius: 25%;
}

.cont-select select{
    font-size: 14px !important;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.25s;
}

.content form button{
    border-radius: 10px !important;
}

.icons-footer a {
    padding: 5px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    border-radius: 50%;
    box-shadow: 0px 0px 4px rgba(154, 154, 154, 0.15);
}

.icons-footer i,
.icons-footer img {
    font-size: 20px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.icons-footer a .fa-google-play {
    color: #ffd400;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons-footer a .fa-apple {
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Responsive */

@media screen and (max-width: 992px) {

    .img-logo img{
        width: 30% !important;
    }

    .w-35 {
        width: 65% !important;
    }

    .content form button{
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important;
    }

    select{
        font-size: 10px !important;
    }
}

@media screen and (max-width: 768px) {
    .img-logo img{
        width: 35% !important;
    }

    #phone{
        width: calc(100% - 90px) !important;
        margin-left: 90px;
    }

    .cont-phone .cont-select{
        width: 90px;
    }
/* 
    .cont-select img{
        width: 25px;
        height: 25px;
    } */

    .cont-select select{
        font-size: 10px !important;
    }
}

